$ff_lato: 'Lato', sans-serif;
$ff_sup: 'Supermercado One', cursive;
$ff_mont: 'Montserrat', sans-serif;
$ff_cons: 'Inconsolata', monospace;

$js_const: #4b9cd6;
$js_func: #dcdcaa;
$js_name: #9cdcfe;
$js_str: #c39178;
$js_comment: #608b4e;
$js_pink: #c586c0;